@import "tailwindcss";

@theme {
    --color-primary: #00204c;
    --color-secondary: #f9f9f9;
    --color-neutral: #ffffff;
    --color-accent: #e1a122;

    --font-playfair-display: Playfair Display, serif;
    --font-lato: Lato, sans-serif;
}