---
import Layout from "../layouts/Layout.astro";
import WeOfferYou from "../components/WeOfferYou.astro";
import PracticesArea from "../components/PracticesArea.astro";
---

<Layout>
  <h1>Servicios</h1>
  <WeOfferYou />
  <PracticesArea />
</Layout>
