---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

import ContentWidth from "../components/ContentWidth.astro";
import imgContactBanner from "../../public/images/imgContactBanner.jpg";
console.log(imgContactBanner.width);
---

<section class="py-20">
  <ContentWidth>
    <div class="flex flex-col lg:gap-8 lg:flex-row shadow">
      <Image
        src={imgContactBanner}
        alt=""
        width={imgContactBanner.width}
        height={imgContactBanner.height}
        widths={[500]}
        sizes={`(min-width: 1024px) 500px`}
        loading="lazy"
      />
      <div class="flex flex-col items-center lg:items-start gap-4 p-4 md:p-8">
        <h2
          class="font-playfair-display text-2xl md:text-4xl text-center lg:text-5xl lg:text-left text-primary"
        >
          ¡COMUNIQUESE CON LOS EXPERTOS AHORA!
        </h2>
        <a
          href="/contact#form"
          class="flex justify-center items-center gap-2 px-4 py-2 bg-accent border-2 border-accent hover:bg-neutral hover:text-black duration-300 text-neutral font-bold cursor-pointer"
        >
          <span>COTIZACIÓN</span>
          <Icon name="mdi:arrow-right" size={30} />
        </a>
      </div>
    </div>
  </ContentWidth>
</section>
