---
import ContentWidth from "./ContentWidth.astro";

import { Icon } from "astro-icon/components";
---

<footer>
  <ContentWidth>
    <p>Footer</p>
    <Icon name="mdi:phone" size={30} />
    <Icon name="mdi:email" size={30} />
    <Icon name="mdi:location" size={30} />
    <Icon name="mdi:facebook" size={30} />
    <Icon name="mdi:twitter" size={30} />
    <Icon name="mdi:linkedin" size={30} />
  </ContentWidth>
</footer>
