---
import ContentWidth from "./ContentWidth.astro";

import { Icon } from "astro-icon/components";
---

<footer>
  <ContentWidth>
    <div
      class="group grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 text-left py-5 bg-white text-black border-b-1 mb-3"
    >
      <div class="flex flex-col py-5">
        <h1 class="font-bold mb-2">Logo</h1>
        <h3>
          Somos un equipo especializado en el asesoramiento a empresas o
          personas naturales.
        </h3>
      </div>
      <div class="flex flex-col py-5">
        <h1 class="font-bold mb-2">Enlaces</h1>
        <ul class="flex flex-col gap-2">
          <li>Inicio</li>
          <li>Nosotros</li>
          <li>Servicios</li>
          <li>Contactanos</li>
        </ul>
      </div>
      <div class="flex flex-col py-5">
        <h1 class="font-bold mb-2">Dirección</h1>
        <p>Psj. San Martin N° 154 Mz. D It. 01 Oficina N°401 (4to piao)</p>
      </div>
      <div class="flex flex-col py-5">
        <h1 class="font-bold mb-2">Redes Sociales</h1>
        <div class="flex gap-4">
          <div
            class="w-10 h-10 text-black flex items-center justify-center border-1"
          >
            <Icon name="mdi:facebook" size={30} />
          </div>
          <div
            class="w-10 h-10 text-black flex items-center justify-center border-1"
          >
            <Icon name="mdi:twitter" size={30} />
          </div>
          <div
            class="w-10 h-10 text-black flex items-center justify-center border-1"
          >
            <Icon name="mdi:linkedin" size={30} />
          </div>
        </div>
      </div>
    </div>

    <div class="flex justify-between pt-2 pb-5">
      <h1>Copyright 2025, Servitec Peru. Todos los derechos reservados</h1>
      <h1>Hecho con ❤️</h1>
    </div>
  </ContentWidth>
</footer>
