---
import ContentWidth from "./ContentWidth.astro";

import { Icon } from "astro-icon/components";
---

<footer>
  <ContentWidth>
    <p>Footer</p>
    <Icon name="mdi:car" size={30} />
    <Icon name="mdi:wallet-travel" size={30} />
    <Icon name="mdi:handcuffs" size={30} />
    <Icon name="solar:hand-money-linear" size={30} />
    <Icon name="map:courthouse" size={30} />
    <Icon name="hugeicons:document-validation" size={30} />
    <Icon name="mdi:legal" size={30} />
    <Icon name="lucide:notebook-pen" size={30} />
    <Icon name="mdi:phone" size={30} />
    <Icon name="mdi:email" size={30} />
    <Icon name="mdi:location" size={30} />
    <Icon name="mdi:facebook" size={30} />
    <Icon name="mdi:twitter" size={30} />
    <Icon name="mdi:linkedin" size={30} />
  </ContentWidth>
</footer>
