---
import ContentWidth from "./ContentWidth.astro";
---

<header class="bg-primary">
  <ContentWidth>
    <div class="flex justify-between items-center p-4">
      <img src="/logo.webp" alt="Logo de Planning Advice EQPerez S.A.C." />
      <nav class="text-secondary">
        <ul class="flex gap-4">
          <li><a href="/">Inicio</a></li>
          <li><a href="/about">Nosotros</a></li>
          <li><a href="/services">Servicios</a></li>
        </ul>
      </nav>
      <a href="/contact" class="bg-accent px-4 py-2">Contactanos</a>
    </div>
  </ContentWidth>
</header>
