---
import ContentWidth from "./ContentWidth.astro";
---

<section class="w-full h-svh relative">
  <ContentWidth>
    <div class="w-full h-svh bg-green-400">
      <h2>Hero</h2>
    </div>
  </ContentWidth>
</section>
