---
import ContentWidth from "./ContentWidth.astro";
---

<section
  class="w-full h-svh relative bg-[url('https://i.pinimg.com/originals/67/d4/ca/67d4cac7521a3dcc36091aa5dc2c6fe2.jpg')] bg-cover bg-center"
>
  <div class="w-full h-full bg-primary-light">
    <ContentWidth>
      <div class="w-full h-svh flex items-center text-secondary">
        <div class="flex flex-col gap-4 md:gap-6 max-w-[40rem]">
          <h2
            class="font-playfair-display text-3xl lg:text-5xl font-bold uppercase"
          >
            Tu confianza, nuestra mejor defensa
          </h2>
          <p class="md:text-lg text-pretty">
            Te acompañamos en cada paso con asesoría jurídica transparente y
            estratégica. Nuestro compromiso es defender tus intereses con
            excelencia y cercanía.
          </p>
          <div class="flex flex-col md:flex-row gap-4 md:gap-6">
            <a
              href="/contact#form"
              class="bg-accent hover:bg-transparent py-2 px-4 md:py-4 md:px-6 text-center font-bold uppercase border-2 border-accent duration-300"
              >Consulta gratis</a
            >
            <a
              href="/#practicesArea"
              class="bg-transparent hover:bg-accent py-2 px-4 md:py-4 md:px-6 text-center font-bold uppercase border-2 border-accent duration-300"
              >Area de practicas</a
            >
          </div>
        </div>
      </div>
    </ContentWidth>
  </div>
</section>
