---
import ContentWidth from "./ContentWidth.astro";
---
<div class="bg-gray-200 pb-20 pt-40">
  <ContentWidth>
    <section class="p-2 grid place-items-center">
      <div class="bg-white w-full p-2 md:p-4 max-w-7xl">
        <div class="w-full aspect-[4/3] md:aspect-[22/9]  sm:aspect-[16/9]">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d887.9340298071596!2d-77.06133627073999!3d-11.988735519994748!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105ce5234890275%3A0x6526621708551c1a!2sMinisterio%20P%C3%BAblico%20Fiscal%C3%ADa%20De%20La%20Naci%C3%B3n!5e1!3m2!1ses!2spe!4v1746205893141!5m2!1ses!2spe"
            class="w-full h-full"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </section>
  </ContentWidth>
</div>
