---
import { Icon } from "astro-icon/components";
import ContentWidth from "./ContentWidth.astro";
import { practicesArea } from "../data-list";
---

<section class="bg-primary py-20">
  <ContentWidth>
    <div class="text-center space-y-10">
      <h2
        class="font-playfair-display font-bold text-3xl md:text-4xl text-neutral"
      >
        Área de Prácticas
      </h2>
      <section
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
      >
        {
          practicesArea.map((service) => (
            <article class="min-h-80 flex flex-col items-center gap-4 p-4 transition-colors duration-300 hover:bg-primary-hover group text-neutral">
              <div class="flex justify-center items-center bg-accent rounded-full p-4">
                <Icon name={service.icon} size={50} />
              </div>
              <h3 class="font-playfair-display font-bold text-xl">
                {service.title}
              </h3>
              <p class="text-sm text-pretty text-secondary">
                {service.description}
              </p>
            </article>
          ))
        }
      </section>
    </div>
  </ContentWidth>
</section>
